#results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
}
.child {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}
.SearchHead {
  font-size: 250%;
}
form {
  display: inline;
  justify-content: center;
}
.descImg {
  width: 50%;
  height: 50%;
  padding-bottom: 200px;
}
#search {
  width: 80%;
}
#submit {
  display: inline;
  background-color: green;
}
img {
  width: 240px;
  height: 240px;
}
@media (max-width: 1030px) {
  .child {
    width: 33%;
  }
}
@media (max-width: 880px) {
  .display-4 {
    font-size: 200%;
  }
}
@media (max-width: 807px) {
  .child {
    width: 50%;
  }
  #search {
    width: 60%;
  }
  #submit {
    display: inline;
    background-color: green;
    width: 20%;
  }
}
@media (max-width: 633px) {
  #NavHead {
    font-size: 175%;
  }
}
@media (max-width: 633px) {
  .child {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #NavHead {
    font-size: 125%;
  }
  .SearchHead {
    font-size: 125%;
  }
}
@media (max-width: 385px) {
  #NavHead {
    font-size: 100%;
  }
  .SearchHead {
    font-size: 100%;
  }
  #search {
    width: 50%;
  }
  #submit {
    display: inline;
    background-color: green;
    width: 20%;
    font-size: small;
  }
}
@media (max-width: 300px) {
  #NavHead {
    font-size: 80%;
  }
  .SearchHead {
    font-size: 80%;
  }
  #search {
    width: 40%;
  }
  #submit {
    display: inline;
    background-color: green;
    text-align: left;

    width: fit-content;
    font-size: x-small;
  }
}
